{% extends 'base.html' %}
{% load static from staticfiles%}

{% block content %}
    <div class="content">
        <div class="register">
            <div class="col-md-6 login-left">
                <h3>新用户</h3>
                <p>通过注册一个账号，可以方便的体验网站的更多功能。</p>
                <a class="acount-btn" href="/register/">我要注册</a>
            </div>
            <div class="col-md-6 login-right">
                <h3>忘记密码</h3>
                <p>通过邮箱找回密码。</p>
                <form method="post" action="/getpass/">
                    <div>
                        <span>用户名<label>*</label></span>
                        <input type="text" name="username">
                    </div>
                    <div>
                        <span>邮箱<label>*</label></span>
                        <input type="text" name="email">
                    </div>
                    {% if error_msg %}
                        <p><span style="color: red">{{ error_msg }}</span></p>
                    {% endif %}
                    <input type="submit" value="确认发送邮件">
{#<button type="submit" class="btn btn-danger">（危险）Danger</button>#}

                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}