<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>跳转</title>
		<style type="text/css">
			*{
				margin: 0px;
				padding: 0px;
			}
			#main{
				margin: 100px;
				background: #abcdef;
	            width: 520px;
	            padding: 40px;
	            border-radius: 20px 20px 20px 20px;
	            box-shadow: 0 2px 12px #666666;
			}
			#box{
				font-size: 30px;
				font-weight: bolder;
			}
		</style>
	</head>
	<body>
		<center>
			<div id="main">
				<img style="height: 85px;width: 85px;" src=/static/images/xlb.jpg" alt="" />
				<div id="box">
					支付成功！
				</div>
			</div>
			<a href="{% url '' %}">立即观影</a>
			&nbsp;&nbsp;&nbsp;
			<a href="">个人中心</a>
		</center>
	</body>
</html>
