{% extends 'base.html' %}
{% load static from staticfiles%}

{% block mine %}
    <!--<li style="list-style-type: none"><img src="{% static 'images/p1.png' %}" alt=""/></li>-->
    {% if username %}
        <li style="list-style-type: none"><p><a href="/person/">{{ username }}</a></p></li>
        <li style="list-style-type: none"><img style="width: 30px;height: 30px" src="/static/images/vip1.jpg" alt="vip"></li>
        <li style="list-style-type: none"><p><a href="/quit/">退出</a></p></li>
    {% else %}
        <li style="list-style-type: none"><p><a href="/login/">立即登陆</a></p></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content">
        <h2 class="m_3">个人中心</h2>
        <p> &nbsp;</p>
        <button><a href="{% url 'person' %}"><h3 class="m_3">&nbsp;&nbsp;我的收藏</h3></a></button>
        <button><a href="{% url 'user' %}"><h3 class="m_3">&nbsp;&nbsp;我的信息</h3></a></button>
        <br>
        <table align="center" style="font-size: 20px;font-weight: bolder;text-align: center">
            <tr>
                <td>用户名：</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>
                    邮箱：
                </td>
                <td>
                    {{ user.email }}
                </td>
            </tr>
            <tr>
                <td>
                    会员时间：
                </td>
                <td>
                    {{ user.v_start }} -- {{ user.v_end }}
                </td>
            </tr>
        </table>

    </div>
{% endblock %}